---
const { feature, title } = Astro.props;

const link = `https://caniuse.com/${feature.caniuse ? `${feature.caniuse}` : ''}`;
const browsers = {
	'ios_saf': 'iOS Safari',
	'op_mob': 'Opera Mobile',
	'and_uc': 'UC Mobile for Android',
	'and_chr': 'Chrome for Android',
	'and_ff': 'Firefox for Android',
	'and_qq': 'QQ Browserr',
};
---
{ feature.browser_support && (
<a
		class="cssdb-feature-caniuse"
		href={link}
		target="_blank"
		rel="noreferrer"
		aria-label={`can i use browser support for ${title}`}
>
	{Object.keys(feature.browser_support).map(id => (
		<span class={`cssdb-browser cssdb-browser--${id}`}>
		 <span class="sr-only">Supported on {browsers[id] || id} since version </span>
		 <span class="cssdb-browser-version">{feature.browser_support[id]}</span>
		</span>
	))}
</a>
) }
