---
import FeaturePolyfills from './feature-polyfills.astro';
import CaniuseFeature from './caniuse-feature.astro';
import { parseExample }  from '../../utils/feature-example.js';

const { feature } = Astro.props;
const imageName = `/images/stages/stage-${feature.stage}.svg`;
const badge = `/images/badges/${feature.id}.svg`;

const [title, description] = await Promise.all([
	Astro.privateRenderMarkdownDoNotUse(feature.title),
	Astro.privateRenderMarkdownDoNotUse(feature.description),
]);

const simpleTitle = title.replace('<p>', '').replace('</p>', '');
const cleanTitle = simpleTitle.replace(/<\/?[^>]+(>|$)/g, '');
const simpleDescription = description.replace('<p>', '').replace('</p>', '');

const stages = [
	'stage-0-aspirational',
	'stage-1-experimental',
	'stage-2-allowable',
	'stage-3-embraced',
	'stage-4-standardized',
]
---
<article class="cssdb-feature" id={feature.id}>
	<header class="cssdb-feature-header">
		<a class="cssdb-feature-stage" href={`#${stages[feature.stage]}`}>
			<img class="cssdb-feature-stage-image" src={imageName} alt="" width="62" height="62" role="presentation" loading="lazy">
		</a>
		<h2 class="cssdb-feature-heading">
			<a href={`#${feature.id}`} set:html={simpleTitle} />
		</h2>
		<p class="cssdb-feature-description" set:html={simpleDescription} />
	</header>
	<p class="cssdb-feature-docs">
		<a
			href={feature.specification}
			aria-label={`Specification for ${cleanTitle}`}
		>
			<img
				src="https://img.shields.io/badge/Spec-005A9C?logo=w3c&style=flat-square"
				alt="W3C Specification"
				loading="lazy"
				decoding="async"
				width="55"
				height="20"
			>
		</a>
		{feature.docs?.mdn && (
			<a
				href={feature.docs.mdn}
				aria-label={`Documentation for ${cleanTitle}`}
				target="_blank"
				rel="noreferrer"
			>
				<img
					src="https://shields.io/badge/docs-black?logo=mozilla&style=flat-square"
					alt="Mozilla Developer Network Documentation"
					loading="lazy"
					decoding="async"
					width="53"
					height="20"
				>
			</a>
		)}
		<a href={`#${stages[feature.stage]}`}>
			<img
				src={badge}
				alt={`Stage ${feature.stage}`}
				loading="lazy"
				decoding="async"
				width="94"
				height="20"
			/>
		</a>
	</p>
	<pre class="cssdb-feature-example" dir="ltr" set:html={parseExample(feature.example)} />
	<CaniuseFeature feature={feature} title={cleanTitle} />
	<FeaturePolyfills polyfills={feature.polyfills} id={feature.id} title={cleanTitle} />
</article>
